.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h4{
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval-container {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.interval-length-container {
  display: flex;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  height: 40px;
  background-color: #263646;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
  width: 90px;
  border-radius: 2px;
}

.interval-length{
  font-size: 2rem;
  margin: 0 10px;
}

.timer-container{
  border: 2px solid #263646;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 250px;
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.50);
    padding: 10px;
}

.timer{
  font-size: 2rem;
}

.timer-actions{
  margin-top: 20px;
  text-align: center;
}